{% include 'navbar.html' %}
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %} - Music Engine</title>
    </head>
    <body>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                    {% if user.username == 'gestor' %}
                        <li>&nbsp<a href="{% url 'studio_list' %}">Llista de sales</a></li>
                        <li>&nbsp<a href="{% url 'material_list' %}">Llista de materials</a></li>
                        <li>&nbsp<a href="{% url 'reserva_list' %}">Reserves</a></li>
                        <li>&nbsp<a href="{% url 'assignment_list' %}">Asignaciones o Peticiones</a></li>
                        <li>&nbsp<a href="{% url 'llista_tecnics' %}">Personal Tècnic</a></li>
                        &nbsp
                    {% endif %}
                    {% if user.username == 'tecnic' %}
                        <li>&nbsp<a href="{% url 'assignment_list' %}">Asignaciones o Peticiones</a></li>
                        <li>&nbsp<a href="{% url 'hours_list' %}">Hores Treballades</a></li>
                        <li>&nbsp<a href="{% url 'characteristic_technical' %}">Caracteristiques</a></li>
                        <li>&nbsp<a href="{% url 'calendario' %}">Disponibilitat</a></li>
                    {% endif %}
                    {% if user.username == 'comercial' %}
                        <li>&nbsp<a href="{% url 'hours_list' %}">Hores Treballades</a></li>
                        <li>&nbsp<a href="{% url 'financial_data_list' %}">Dades financeres</a></li>
                    {% else %}
                        <li>&nbsp<a href="{% url 'reserva_list' %}">Reserves</a></li>
                        <li>&nbsp<a href="{% url 'assesorament_list' %}">Assesorarament</a></li>
                    {% endif %}
                    <li>&nbsp<a href="{% url 'logout' %}">Tancar sessió</a></li>
                {% else %}
                <a class="cta" href="/accounts/login">
                &nbsp<button class="button button-blue">Log In</button>
                </a>
                {% endif %}
            </ul>

         </nav>
        {% block content %}
        {% endblock %}
    </body>
</html>