{% include 'navbar.html' %}
    <h1>Llista de personals tècnics</h1>
    <table>
        <thead>
        <tr>
            <th>DNI</th>
            <th>Nom</th>
            <th>Cognom</th>
        </tr>
        </thead>
        <tbody>
        {% for tecnico in tecnic %}
            <tr>
                <td>{{ tecnico.dni }}</td>
                <td>{{ tecnico.name }}</td>
                <td>{{ tecnico.last_name }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="4">No hi ha personals tècnics.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}