{% include 'navbar.html' %}

<body>
<table>
    <thead>
    <tr>
        {% if user.username != 'comercial' %}
            <th>Dia</th>
            <th>Hores Treballades</th>
            <th>Tècnic</th>
            <th>Options</th>
        {% else %}
            <th>Dia</th>
            <th>Hores Treballades</th>
            <th>Tècnic</th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    {% for h in hours %}
        <tr>
            {% if user.username != 'comercial' %}
                {% if h.technician == user %}
                <td>{{ h.date }}</td>
                <td>{{ h.hours }}</td>
                <td>{{ h.technician.first_name }}</td>
                <td>
                  <ul>
                    <li><a href="{% url 'hours_update' h.pk %}">Editar</a></li>
                    <li><a href="{% url 'hours_delete' h.pk %}">Elimiar</a></li>
                  </ul>
                </td>
                {% endif %}
            {% else %}
                <td>{{ h.date }}</td>
                <td>{{ h.hours }}</td>
                <td>{{ h.technician.first_name }}</td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
{% if user.username != 'comercial' %}
    &nbsp<a class="cta" href="/create/hour_record/">
    &nbsp<button class="button button-blue">Add New Record</button>
    </a>
{% endif %}

</body>
