{% include 'navbar.html' %}
{% block content %}

<head>
    <meta charset="UTF-8">
    <title>Material's list - MUSIC ENGINE</title>
</head>
<body>
{% if user.is_authenticated %}
    <h1>&nbsp Material's list</h1>
    &nbsp
        <ul>
            {% for material in materials %}
                <li>&nbsp <a href="{% url 'material_detail' material.name %}">{{ material.name }}</a></li>
            {% endfor %}
        </ul>
    &nbsp
    <a class="cta" href="/create/material/">
    &nbsp<button class="button button-blue">Create New Material</button>
</a>
{% endif %}

</body>

{% endblock %}