{% include "navbar.html" %}

<style>
    @import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@300;800&family=Montserrat:ital,wght@0,300;1,400&display=swap');
    .container {
        font-family: "Montserrat", sans-serif;
        margin-left: 30px;
        margin-bottom: 20px;
    }
    .button{
        margin-top: 15px;
    }
</style>

    <div class="container">
        <h4>Editar Reserva</h4>

        <form method="post" enctype="multipart/form-data" action="">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>

            <input type="submit" value="Submit"/>
        </form>

        <a class="cta" href="/">
                <button class="button">Back Home</button>
        </a>
    </div>