{% include 'navbar.html' %}
{% block content %}

<head>
    <meta charset="UTF-8">
    <title>Studio's list - MUSIC ENGINE</title>
</head>
<body>
{% if user.is_authenticated %}
    <h1>Studio's list</h1>
        <ul>
            {% for studio in studios %}
                <li><a href="{% url 'studio_detail' studio.name %}">{{ studio.name }}</a></li>
            {% endfor %}
        </ul>
        <a class="cta" href="/create/studio/">
            <button class="button">Create New Studio</button>
        </a>
{% endif %}

</body>

{% endblock %}