{% include 'navbar.html' %}
<!--- LIST OR TABLE OF DATA  --->

<body>
<h1>&nbsp Dades financeres</h1>
<table>
    <thead>
      <tr>
        <th>Nom de factura</th>
        <th>Data</th>
        <th>Assumpte</th>
        <th>Import</th>
        <th>Vàlida</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
      {% for r in factures %}
        <tr>
          <td>{{ r.name }}</td>
          <td>{{ r.data }}</td>
          <td><a href="{% url 'reserva_detail' r.subject.pk %}">{{ r.subject }}</a></td>
          <td>{{ r.cost }}</td>
          <td>{{ r.valid }} <button id="toggle-button" data-id="{{ r.id }}" class="button button-red">Canviar Estat</button></td>
          <td><a href="{% url 'financial_data_update' r.pk %}">Editar</a></td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="5">No hi ha factures registrades.</td>
        </tr>
      {% endfor %}

    </tbody>
  </table>
    &nbsp<a class="cta" href="/dades/create/">
    &nbsp<button class="button button-blue">Add New Record</button>
    </a>

<script>
    document.getElementById("toggle-button").addEventListener("click", function() {
        var objectId = this.getAttribute("data-id");
        var url = "/toggle-state-fd/" + objectId + "/";

        var xhr = new XMLHttpRequest();
        xhr.open("POST", url);
        xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
        xhr.onreadystatechange = function() {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                if (xhr.status === 200) {
                    // La sol·licitud s'ha completat correctament
                    console.log(xhr.responseText);
                    location.reload();
                } else {
                    // Ha ocorregut un error
                    console.error(xhr.responseText);
                }
            }
        };
        xhr.send();
    });
</script>
</body>
